html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#container{
	position: absolute;
	margin: 0px;
	width: 900px;
	height: 520px;
	overflow: hidden;
}
#top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 40px;
}
#left{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 150px;
	height: 480px;
}
#right{
	position: absolute;
	top: 40px;
	right: 0px;
	width: 50px;
	height: 480px;
}
#main{
	position: absolute;
	top: 40px;
	left: 150px;
	width: 750px;
	height: 480px;
}
#button1{
	position: absolute;
	top: 5px;
	left: 0px;
}
#button2{
	position: absolute;
	top: 95px;
	left: 0px;
}
#retour{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.choix{
	position: absolute;
	bottom: 60px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#allumettes-b{
	position: absolute;
	top: 0px;
	left: 0px;
}
#marienbad-b{
	position: absolute;
	top: 75px;
	left: 0px;
}
#pieces-b{
	position: absolute;
	top: 150px;
	left: 0px;
}
#morpion-b{
	position: absolute;
	top: 225px;
	left: 0px;
}
#debutant, #maitre, #expert, #je_commence, #ordinateur_commence, #chacun_son_tour{
	width: 80%;
}
#regle{
	position: absolute;
	top: 0px;
	left: 0px;
}
#gagnant{
	color: red;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 45%;
	left: 0%;
	width: 700px;
	text-align: center;
	z-index: 5;
}
#j1, #j2, #s1, #s2{
	color: yellow;
	font-size: 16px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}
#sc1{
	color: white;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
}
#score{
	position: absolute;
	top: 25px;
	right: 0px;
	width: 250px;
}

.plateau{
	position: absolute;
	top: 120px;
	width: 100%;
}
#adversaire{
	position: absolute;
	top: 0px;
	left: 233px;
}
#tabA{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 700px;
	text-align: center;
}
#tabMarbre{
	position: absolute;
	top: 80px;
	left: 0px;
	width: 700px;
	text-align: center;
	z-index: 3;
}
#tabPiece{
	position: absolute;
	top: 80px;
	left: 0px;
	width: 700px;
	text-align: center;
	z-index: 4;
}
#tabM0{
	position: absolute;
	top: 10px;
	left: 0px;
	width: 700px;
	text-align: center;
}
#tabM1{
	position: absolute;
	top: 100px;
	left: 140px;
	width: 420px;
	text-align: center;
}
#tabM2{
	position: absolute;
	top: 190px;
	left: 0px;
	width: 700px;
	text-align: center;
}
#tabMorpion{
	position: absolute;
	top: 30px;
	left: 199px;
	width: 301px;
	height: 300px;
	text-align: center;
}
#bulle{
	position: absolute;
	top: 0px;
	left: 50px;
}
#bulle-text{
	position: absolute;
	top: 30px;
	left: 70px;
}
#adversaire-fond{
	position: absolute;
	top: 0px;
	left: 0px;
}
.allumette150{
	width: 15px;
	height: 150px;
}
.allumette80{
	width: 8px;
	height: 80px;
}
.pion{
	width: 85px;
	height: 85px;
}
#suivantA{
	position: absolute;
	bottom: 0px;
	left: 284px;
	z-index: 4;
}
#suivantM{
	position: absolute;
	bottom: 0px;
	left: 284px;
	z-index: 4;
}
#suivantP{
	position: absolute;
	bottom: 0px;
	left: 284px;
	z-index: 4;
}
#suivantMo{
	position: absolute;
	bottom: 130px;
	left: 550px;
	z-index: 4;
}
#nA{
	position: absolute;
	bottom: 100px;
	right: 50px;
}
