#container{
	width: 780px;
	height: 470px;
	background-color: #F0F0F0;
	position: absolute;
	top: 0px;
	left: 0px;
}

#top{
	width: 780px;
	height: 290px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#left{
	width: 400px;
	height: 250px;
	position: absolute;
	top: 20px;
	left: 43px;
}
#right{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 20px;
	left: 483px;
}
#bottom{
	width: 780px;
	height: 180px;
	position: absolute;
	top: 290px;
	left: 0px;
}
#fields{
	width: 780px;
	height: 50px;
	position: absolute;
	bottom: 30px;
	left: 0px;
}
#checkboxes{
	width: 693px;
	height: 100px;
	position: absolute;
	background-color: white;
	top: 0px;
	left: 43px;
}
#lancer{
	width: 150px;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 240px;
}
#effacer{
	width: 150px;
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 390px;
}
input{
	width: 60px;
}

table{
	width: 780px;
}
