#container{
	width: 700px;
	height: 460px;
	overflow: hidden;
	background: "white";
	position: absolute;
}
#top{
	width: 700px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#left{
	width:80px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#cube-viewer{
	width: 620px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 80px;
}
#bottom{
	width: 700px;
	height: 60px;
	position: absolute;
	top: 400px;
	left: 0px;
}
.button-left{
	width: 80px;
	height: 44px;
}
#queue{
	font-size: 22px;
	background-color: #E0FFFF;
	width: 500px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 200px;
	overflow: auto;
}
#solution{
	width: 200px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#melanger{
	width: 232px;
	height: 30px;
	position: absolute;
	top: 30px;
	left: 466px;
}
#lancer{
	width: 232px;
	height: 30px;
	position: absolute;
	top: 30px;
	left: 0px;
}
#pas-a-pas{
	width: 232px;
	height: 30px;
	position: absolute;
	top: 30px;
	left: 233px;
}
