html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#container{
	position: absolute;
	margin: 0px;
	width: 900px;
	height: 520px;
	overflow: hidden;
}
#top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 900px;
	height: 40px;
}
#left{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 150px;
	height: 480px;
}
#main{
	position: absolute;
	top: 40px;
	left: 150px;
	width: 750px;
	height: 480px;
}
img{
	object-fit: fill;
}
#button1{
	position: absolute;
	top: 5px;
	left: 0px;
}
#button2{
	position: absolute;
	top: 95px;
	left: 0px;
}
#retour{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#difficultee{
	position: absolute;
	bottom: 60px;
	left: 0px;
	width: 100%;
}
#debutant, #maitre, #expert{
	width: 80%;
}
#regle{
	position: absolute;
	top: 0px;
	left: 0px;
}
#france{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
#carte{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#chrono{
	position: absolute;
	top: 45px;
	right: 60px;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: #503010;
}
#ht{
	position: absolute;
	top: 145px;
	right: 60px;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: #503010;
}
#depart{
	position: absolute;
	top: 231px;
	right: 60px;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: #503010;
}
#hr{
	position: absolute;
	top: 317px;
	right: 60px;
	width: 100px;
	text-align: center;
	font-size: 16px;
	color: #503010;
}
#distances{
	position: absolute;
	top: 360px;
	right: -20px;
}
#enlever{
	position: absolute;
	top: 400px;
	right: -20px;
}
#solution{
	position: absolute;
	top: 440px;
	right: -20px;
}
#alerte-temps{
	color: red;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0%;
	width: 70%;
	z-index: 4;
}
#resultat{
	color: red;
	font-size: 50px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	position: absolute;
	top: 40%;
	right: 30%;
	width: 70%;
	z-index: 3;
}
#l1{
	color: yellow;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 0%;
	left: 5%;
	width: 70%;
	z-index: 3;
}
#l2{
	color: yellow;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	position: absolute;
	top: 7%;
	left: 5%;
	width: 70%;
	z-index: 3;
}
#joueur{
	color: yellow;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	position: absolute;
	top: 440px;
	right: 60px;
	z-index: 3;
}
#rejouer{
	position: absolute;
	top: 350px;
	left: 10%;
	z-index: 3;
}
#nouvelle{
	position: absolute;
	top: 350px;
	right: 40%;
	z-index: 3;
}
#villes{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 527px;
	height: 480px;
	z-index: 2;
}
.nom-ville{
	color: black;
	font-size: 13px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
#indice{
	position: absolute;
	top: 0px;
	right: 200px;
	z-index: 3;
}
