html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
button:hover{
	background-color: #5555EE;
	color: #FFFFFF;
}
button{
	width: 80%;
	height: 100%;
	border: 2px solid #5555FF;
}
#top{
	background: #081F4E;
	color: #FFFFFF;
	font-size: 1em;
	width: 100%;
	height: 10%;
}
#frames{
	width: 100%;
	height: 90%;
}
iframe{
	border: 5px white solid;
	border-collapse: collapse;
}
table{
	width: 100%;
	border-collapse: collapse;
	border: 0;
	text-align: center;
	table-layout: fixed;
}
#control{
	height: 80%;
}
