html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
button:hover{
	background-color: #5555EE;
	color: #FFFFFF;
}
button{
	width: 100%;
	height: 100%;
	border: 2px solid #5555FF;
}
select{
	width: 100%;
	height: 100%;
	border: 2px solid #5555FF;
}
datalist{
	display: auto;
}
.slider{
	width: 95%;
	height: 100%;
}
.normal-num{
	background: #829eeb;
	border: 1px solid #FFFFFF;
	color: #000000;
	overflow: hidden;
}
.red-num{
	background: #FF5555;
	border: 1px solid #FFFFFF;
	color: #000000;
	overflow: hidden;
}
.removed-num{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}
#control{
	height: 70%;
}
#disp{
	height: 30%;
	background: #081FB0;
	
}
#top{
	background: #081F4E;
	color: #FFFFFF;
	font-size: 1em;
	width: 100%;
	height: 18%;
}
#table-num{
	height: 82%;
	font-size: 1em;
}
table{
	width: 100%;
	border-collapse: collapse;
	border: 0;
	text-align: center;
	table-layout: fixed;
}
#methode{
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}
